* {
  font-family: Non-Seasonal Geo, sans-serif;
}

body {
  color: black;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  background-image: linear-gradient(
      74deg,
      rgba(236, 236, 236, 0.02) 0%,
      rgba(236, 236, 236, 0.02) 13%,
      transparent 13%,
      transparent 64%,
      rgba(55, 55, 55, 0.02) 64%,
      rgba(55, 55, 55, 0.02) 71%,
      rgba(239, 239, 239, 0.02) 71%,
      rgba(239, 239, 239, 0.02) 100%
    ),
    linear-gradient(
      170deg,
      rgba(8, 8, 8, 0.02) 0%,
      rgba(8, 8, 8, 0.02) 1%,
      transparent 1%,
      transparent 60%,
      rgba(9, 9, 9, 0.02) 60%,
      rgba(9, 9, 9, 0.02) 80%,
      rgba(198, 198, 198, 0.02) 80%,
      rgba(198, 198, 198, 0.02) 100%
    ),
    linear-gradient(
      118deg,
      rgba(134, 134, 134, 0.02) 0%,
      rgba(134, 134, 134, 0.02) 30%,
      transparent 30%,
      transparent 43%,
      rgba(85, 85, 85, 0.02) 43%,
      rgba(85, 85, 85, 0.02) 47%,
      rgba(103, 103, 103, 0.02) 47%,
      rgba(103, 103, 103, 0.02) 100%
    ),
    linear-gradient(
      249deg,
      rgba(178, 178, 178, 0.02) 0%,
      rgba(178, 178, 178, 0.02) 8%,
      transparent 8%,
      transparent 47%,
      rgba(161, 161, 161, 0.02) 47%,
      rgba(161, 161, 161, 0.02) 61%,
      rgba(19, 19, 19, 0.02) 61%,
      rgba(19, 19, 19, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 70%;
  max-width: 800px;
  margin-left: 0;
}

button {
  margin: 0;
  display: inline;
}

.segment {
  width: 60% !important;
}

.selection {
}

.welcome {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 450;
}

.slogan {
  font-size: 20px;
  font-weight: light;
  padding-top: 30px;
  padding-bottom: 20px;
}

.header {
  background-color: black;
  height: 55px !important;
  vertical-align: middle;
}

#logo-img {
  width: 65px !important;
  margin-left: 10px;
  position: absolute;
}

.logo-container {
  display: table-cell;
  vertical-align: middle;
}

.lookbook1 {
  padding: 100px;
}

.lookbook2 {
  padding: 100px;
}

.clothing-image {
}

.name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.image-container {
  display: flex;
  margin: auto;
  position: absolute;
}

.position {
  display: inline-block;
  max-width: 100%;
  height: auto;
  float: right;
  position: relative;
}
