* {
  font-family: Non-Seasonal Geo, sans-serif;
}

body {
  color: black;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  background-image: linear-gradient(
      74deg,
      rgba(236, 236, 236, 0.02) 0%,
      rgba(236, 236, 236, 0.02) 13%,
      transparent 13%,
      transparent 64%,
      rgba(55, 55, 55, 0.02) 64%,
      rgba(55, 55, 55, 0.02) 71%,
      rgba(239, 239, 239, 0.02) 71%,
      rgba(239, 239, 239, 0.02) 100%
    ),
    linear-gradient(
      170deg,
      rgba(8, 8, 8, 0.02) 0%,
      rgba(8, 8, 8, 0.02) 1%,
      transparent 1%,
      transparent 60%,
      rgba(9, 9, 9, 0.02) 60%,
      rgba(9, 9, 9, 0.02) 80%,
      rgba(198, 198, 198, 0.02) 80%,
      rgba(198, 198, 198, 0.02) 100%
    ),
    linear-gradient(
      118deg,
      rgba(134, 134, 134, 0.02) 0%,
      rgba(134, 134, 134, 0.02) 30%,
      transparent 30%,
      transparent 43%,
      rgba(85, 85, 85, 0.02) 43%,
      rgba(85, 85, 85, 0.02) 47%,
      rgba(103, 103, 103, 0.02) 47%,
      rgba(103, 103, 103, 0.02) 100%
    ),
    linear-gradient(
      249deg,
      rgba(178, 178, 178, 0.02) 0%,
      rgba(178, 178, 178, 0.02) 8%,
      transparent 8%,
      transparent 47%,
      rgba(161, 161, 161, 0.02) 47%,
      rgba(161, 161, 161, 0.02) 61%,
      rgba(19, 19, 19, 0.02) 61%,
      rgba(19, 19, 19, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 70%;
  max-width: 800px;
  margin-left: 0;
}

button {
  margin: 0;
  display: inline;
}

.segment {
  width: 60% !important;
}

.selection {
}

.welcome {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 450;
}

.slogan {
  font-size: 20px;
  font-weight: light;
  padding-top: 30px;
  padding-bottom: 20px;
}

.header {
  background-color: black;
  height: 55px !important;
  vertical-align: middle;
}

#logo-img {
  width: 70px !important;
  margin-left: 10px;
  position: absolute;
}

#items-img {
  max-width: 120px;
  height: auto;
  /* width: 55px !important; */
  /* position: absolute; */
}

.logo-container {
  display: table-cell;
  vertical-align: middle;
}

.name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.hi {
  display: inline-flex;
  background-color: white;
  flex-wrap: wrap;
  border-color: black;
  /* outline: 0.4px solid black; */
  gap: 2%;
  margin: auto;
  border-radius: 10px;
  -webkit-transform: translateX(10px); /* 10px to left */
  -moz-transform: translateX(10px); /* 10px to left */
  -ms-transform: translateX(10px); /* 10px to left */
  transform: translateX(10px); /* 10px to left */
  box-shadow: -11px 15px 8px -10px rgba(0, 0, 0, 0.3);
  background-color: #edebe6;
}

.image-container {
}

.lookbook1 {
  padding-bottom: 100px;
  max-width: 85%;
}

.lookbook2 {
  padding-bottom: 100px;
}

.clothing-image {
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
  position: relative;
}

.clothing {
  position: relative;
  flex-grow: 10;
  border-radius: 12px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  outline-offset: 0.5em;
  text-align: center;
}

h1 {
  text-align: center;
}

.unique_element {
  font-size: 20px;
  margin-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.clothing1 {
  padding-right: 20px;
  margin-left: 50px;
}

.clothing2 {
  padding-right: 20px;
  margin-top: 20px;
}

.clothing3 {
  margin-top: 30px;
}

.clothing4 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.clothing5 {
  padding-right: 20px;
  margin-top: 30px;
}

.clothing6 {
  padding-left: 50px;
  padding-right: 20px;
}

.clothing7 {
  margin-top: -20px;
  padding-right: 20px;
}

.tag {
  padding-top: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 30px;
}

/* Hover clothes*/
.clothing1:hover {
  transform: scale(1.1);
}

.clothing2:hover {
  transform: scale(1.1);
}

.clothing3:hover {
  transform: scale(1.1);
}

.clothing4:hover {
  transform: scale(1.1);
}

.clothing5:hover {
  transform: scale(1.1);
}

.clothing6:hover {
  transform: scale(1.1);
}

.clothing7:hover {
  transform: scale(1.1);
}

.clothing8:hover {
  transform: scale(1.1);
}

.clothing9:hover {
  transform: scale(1.1);
}
